
.paginator {
    width: 100%;
    display: flex;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  
    .buttons-container{
      flex: 0 0 200px;
      display: flex;
      justify-content: space-around;
      align-items: center;

    }
  
    .paginator-number{
      text-decoration: none;
      display: inline-block;
      color:#BF1E2E;
      font-weight: bold;
      margin-left: 10px;
      margin-right: 10px;
  
      &.actual{
        font-size: 20px;
      }
    }
  
  }

  .enabled-button {
    text-align: center;
    display: inline-block;
    background: #BF1E2E;
    color: white;
    border: none;
    position: relative;
    width: 60px;
    height: 30px;
    font-size: 0.7em;
    padding:  5px 1px 0 1px  ;
    transition: 200ms ease all;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;

    @media (min-width:550px) {
      width: 100px;
      font-size: 1em;
    }

    &:hover {
      background-color: white ;
      color: #BF1E2E;
    }
  
    &.next {
      margin-left: 10px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        width: 0;
        background: #BF1E2E;
        transition: 300ms ease all;
      }
  
      &:hover:before {
        width: 100%;
        transition: 400ms ease all;
      }
    }
    &.prev {
      margin-right: 10px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 5px;
        width: 0;
        background: #BF1E2E;
        transition: 300ms ease all;
      }
  
      &:hover:before {
        width: 100%;
        transition: 400ms ease all;
      }
    }
  }
  
  .disabled-button {
    margin-right: 10px;
    display: inline-block;
    background: #c5616b;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 60px;
    height: 30px;
    font-size: 0.7em;
    padding:  5px 1px 0 1px ;
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;

    @media (min-width:550px) {
      width: 100px;
      font-size: 1em;
      margin-left: 10px;
    
    }

    
  }




